@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
  --font-mono: "JetBrains Mono", "monospace";

  --color-neon-blue: #00f3ff;
  --color-neon-purple: #bc13fe;
  --color-neon-green: #0aff68;
  --color-neon-red: #ff0a48;

  --color-dark-bg: #050510;
  --color-dark-surface: #0f1123;

  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-cursor-blink: blink 1s step-end infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

body {
  background-color: var(--color-dark-bg);
  color: #e2e8f0;
  -webkit-font-smoothing: antialiased;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark-surface);
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}